<!DOCTYPE html>
<html>

   <head>
      <title>API for Timestamp | Request Header | URL Shortener | Image Search | File Metadata </title>
      <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Paris_RER_B_icon.svg/92px-Paris_RER_B_icon.svg.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Microservices with Node.js </h1>
         <h3>
        Timestamp Microservice </h3>

        <p>
          I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).
        </p>
        <h5>Example:
        </h5>
         <p>    https://bbx-timestamp.glitch.me/December%2015,%202015         <br>
             https://bbx-timestamp.glitch.me/1450137600</p>
        </div>
     
 
   </body>

</html>
